<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="./img/logo-footer.png" />
                </div>
                <div class="col">
                    <div class="footer-title">
                        About
                    </div>
                    <div class="footer-links">
                        <a class="footer-link" href="">About Us</a>
                        <a class="footer-link" href="">Terms & Conditions</a>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-title">
                        Services
                    </div>
                    <div class="footer-links">
                        <a class="footer-link" href="">Our Services</a>
                        <a class="footer-link" href="">Help</a>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <div class="footer-title">
                            Contact
                        </div>
                        <div class="footer-links">
                            <a class="footer-link" href="">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col copyright">
                    © 2023 Aigli Chroni. All Rights Reserved
                </div>
                <div class="col-3 social-links">
                    <a href="" class="footer-social">
                        <img src="./img/footer-social/facebook.png" />
                    </a>
                    <a href="" class="footer-social">
                        <img src="./img/footer-social/instagram.png" />
                    </a>
                    <a href="" class="footer-social">
                        <img src="./img/footer-social/linked-in.png" />
                    </a>
                    <a href="" class="footer-social">
                        <img src="./img/footer-social/twitter.png" />
                    </a>
                    <a href="" class="footer-social">
                        <img src="./img/footer-social/you-tube.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="./js/global.js"></script>
</body>
</html>