<div class="row header">
    <a href="/" class="col-sm-5 header-logo">
        <img src="./img/logo.png" />
        <div class="logo-text">Help victims of natural disasters</div>
    </a>
    <div class="col-sm-7">


      <div id="easeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <ol class="carousel-indicators">
          <li data-bs-target="#easeCarousel" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#easeCarousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#easeCarousel" data-bs-slide-to="2"></li>
        </ol>
      
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./img/carousel/carousel1.jpg" alt="Image 1">
            <div class="carousel-caption">
              <h3>Offer Essential items &amp; Services</h3>
              <p>Offer essential items and services to help victims of natural disasters.</p>
            </div>
          </div>
      
          <div class="carousel-item">
            <img src="./img/carousel/carousel3.jpg" alt="Image 2">
            <div class="carousel-caption">
              <h3>Find Essential Items &amp; Services</h3>
              <p>If you are a victim of a natural disaster, find distribution points where essential items and services are being distributed.</p>
            </div>
          </div>
      
          <div class="carousel-item">
            <img src="./img/carousel/carousel2.jpg" alt="Image 3">
            <div class="carousel-caption">
              <h3>Manage Collection &amp; Distribution Points</h3>
              <p>Organizations can manage essential items and people at collection and distribution points.</p>
            </div>
          </div>
        </div>
      
        <a class="carousel-control-prev" href="#easeCarousel" role="button" data-bs-slide="prev">
          <span class="visually-hidden carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#easeCarousel" role="button" data-bs-slide="next">
          <span class="visually-hidden carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      </div>
      </div>
      
<div class="arrow-container">
<a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
</div>