<!DOCTYPE html>
<html>
    <head>
        <title>EaseAster</title>
        <%- include("mainheader") -%>

        <link rel="stylesheet" href="./css/content.css">
    </head>
    <body>
        <%- include("header") -%>
        <%- include("content") -%>


        <%- include("footer") -%>