<!DOCTYPE html>
<html>
    <head>
        <title>EaseAster</title>
        <%- include("mainheader") -%>

        <link rel="stylesheet" href="./css/content.css">
    </head>
    <body>
        <%- include("header") -%>
        <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
        <%- include("content") -%>


        <%- include("footer") -%>