<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | Log In</title>
        <%- include("mainheader") -%>
    </head>
    <body>
        <%- include("header") -%>

        <h1>LOG IN</h1>
        <form action="/login" method="post">
            <input name="email" type="email" placeholder="Email"/>
            <input name="password" type="password" placeholder="Password">
            <a>Forgot password?</a>
            <a href="/organization">CANCEL</a>
            <button type="submit">LOGIN</button>
        </form>
        <%- include("footer") -%>