<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | Log In</title>
        <%- include("mainheader") -%>
        <link rel="stylesheet" href="./css/forms.css">

    </head>
    <body>
        <%- include("header") -%>
        <nav aria-label="breadcrumb" class="bc-nav">
            <ol class="breadcrumb container">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
        <div class="content-title">LOG IN</div>
        <div class="form-container">
            <form action="/login" method="post">
                <input name="email" required type="email" placeholder="Email"/>
                <input name="password" required type="password" placeholder="Password">
                <a class="cancel-button" href="/register">REGISTER</a>
                <button class="submit-button" type="submit">LOGIN</button>
            </form>
        </div>
        <%- include("footer") -%>