<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | New Project </title>
        <%- include("mainheader") -%>
        <link rel="stylesheet" href="./css/projects.css">
    </head>
    <body>
        <%- include("header") -%>
        <nav aria-label="breadcrumb" class="bc-nav">
            <ol class="breadcrumb container">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projects</li>
            </ol>
        </nav>
        <div class="content-title">RROJECTS</div>

        <a class="logout-button" href="/logout">Log Out</a>

        <div class="projects-container container">
            <a class="add-new-project" href="/new-project">
                <img class="add-new-project-image" src='./img/add-new.png' />
                <div>NEW PROJECT</div></a>
        </div>
        <%- include("footer") -%>