<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | Log In</title>
        <%- include("mainheader") -%>
    </head>
    <body>
        <%- include("header") -%>

        <h1>LOG IN</h1>
        <a href="/new-project">ADD NEW PROJECT</a>
        <%- include("footer") -%>