@import "global.css";



/* choices buttons UI */
.ease-buttons .ease-button-container{
    text-align: center;
}
.ease-buttons{
    margin-top: 90px;
    margin-bottom: 200px;
}
.ease-button{
    background-color: var(--dark-red);
    text-align: center;
    padding-top: 30px;
    width: 300px;
    height: 160px;
    display: inline-block;
    border-radius: 20px;
    color: var(--dark-yellow);
    font-family: 'Vast Shadow';
    box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.45);
}
.ease-button:hover{
    color: var(--dark-yellow);
    opacity: 0.8;
    text-decoration: none;
}
.choices-image{
    height: 60px;
}
.ease-text{
    margin-top: 10px;
}

@media (min-width: 768px){
    .ease-button{
        width: 100%;
        margin: 20px auto;
        height: 185px;
    }
    .choices-image{
        height: 80px;
    }
    .ease-text{
        font-size: 25px;
    }
    .ease-buttons {
        margin-top: 125px;
    }
}