@import "global.css";

.header{
    margin-bottom: 60px;
}

/* logo UI */
.header-logo{
    text-align: center;
    margin-top: 60px;
}
.header-logo:hover{
    text-decoration: none;
}
.logo-text{
    font-family: 'Vast Shadow', cursive;
    font-size: 20px;
    width: 50%;
    margin: 20px auto;
}

/* carousel UI */
.carousel-indicators{
    bottom: -50px;
    /* border: 1px solid var(--dark-red); */
}
.carousel-indicators [data-bs-target] {
    border: 1px solid var(--dark-red);
    width: 13px;
    height: 13px;
    margin: 5px;

}
#easeCarousel{
    text-align: right;
    width: 100%;
}

.carousel-indicators .active{
    background-color: var(--dark-red);
    width: 15px;
    height: 15px;
    margin: 4px;
}

.carousel-indicators li{
    border: 1px solid var(--dark-red);
    width: 13px;
    height: 13px;
    margin: 5px;
}

@media (min-width: 768px){
    .header-logo{
        margin: 100px auto;
    }
    #easeCarousel{
        text-align: center;
    }
    .header{
        margin-bottom: 100px;
    }
    .logo-text{
        font-size: 36px;
    }
    .carousel-caption h3{
        font-size: 36px;
    }
    .carousel-caption p{
        font-size: 25px;
    }
}