@import "variabled.css";

.points-container{
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.point{
    padding: 20px 35px;
    border-radius: 20px;
    width: 30%;
    background-color: var(--medium-red);
    color: black;
}

.point:nth-child(even){
    background-color: var(--medium-yellow);
}